<div class="wrapper ads">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- dev-blog -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-0345179727475663"
         data-ad-slot="5976708518"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<footer class="site-footer">

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-1">
                <ul class="contact-list">
                    <li>{{ site.title }}</li>
                    <li><a class="fa fa-home fa-fw" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>

            <div class="footer-col  footer-col-2">
                <ul class="social-media-list">
                    {% if site.github_username %}
                    <li>
                        <i class="fa fa-github fa-lg"></i>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="username">{{ site.github_username }}</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if site.twitter_username %}
                    <li>
                        <i class="fa fa-twitter-square fa-lg"></i>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="username">{{ site.twitter_username }}</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if site.blog %}
                    <li>
                        <i class="fa fa-home fa-lg"></i>
                        <a href="http://blog.claztec.net">
                            <span class="username">home</span>
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </div>

            <div class="footer-col  footer-col-3">
                <p class="text">{{ site.description }}</p>
                <div>
                <script>
                (function() {
                    var cx = '009009887576837942462:xm5hm8vg_ko';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                        '//cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
                </script>
                <gcse:searchbox-only></gcse:searchbox-only>
                </div>
            </div>
        </div>

    </div>

</footer>
