<div class="wrapper ads">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- dev-blog -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-0345179727475663"
         data-ad-slot="5976708518"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<footer class="site-footer">

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title | escape }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>
                        {% if site.author %}
                        {{ site.author | escape }}
                        {% else %}
                        {{ site.title | escape }}
                        {% endif %}
                    </li>
                    {% if site.email %}
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    {% if site.github_username %}
                    <li>
                        {% include icon-github.html username=site.github_username %}
                    </li>
                    {% endif %}

                    {% if site.twitter_username %}
                    <li>
                        {% include icon-twitter.html username=site.twitter_username %}
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>{{ site.description | escape }}</p>
                <div>
                    <script>
                        (function() {
                            var cx = '009009887576837942462:xm5hm8vg_ko';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                '//cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:searchbox-only></gcse:searchbox-only>
                </div>
            </div>
        </div>

    </div>

</footer>